<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
    Org Mode - BBEdit Codeless Language Module
    Syntax highlighting for Emacs Org mode files (.org)

    Supports:
    - Headings (* ** *** etc.) in function navigator
    - TODO/DONE keywords
    - File keywords (#+TITLE:, #+BEGIN_SRC, etc.)
    - Links [[link]] and [[link][description]]
    - Timestamps [2024-01-01] and <2024-01-01>
    - Comments (# comment)
    - Property drawers (:PROPERTIES:, :END:)
    - Verbatim =text= and code ~text~

    Limitations (require compiled module):
    - No folding for blocks
    - No separate colors for heading marker vs text

    Author: Cappellin Denis with the help of Claude (Anthropic)
    Sources:
    - https://orgmode.org/worg/org-syntax.html
    - https://www.barebones.com/support/develop/clm.html
-->
<dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>

    <key>BBLMLanguageDisplayName</key>
    <string>Org Mode</string>

    <key>BBLMLanguageCode</key>
    <string>OrgM</string>

    <key>BBLMSuffixMap</key>
    <array>
        <dict>
            <key>BBLMLanguageSuffix</key>
            <string>.org</string>
        </dict>
    </array>

    <key>BBLMPreferredFilenameExtension</key>
    <string>org</string>

    <key>BBLMColorsSyntax</key>
    <true/>

    <key>BBLMScansFunctions</key>
    <true/>

    <key>BBLMIsCaseSensitive</key>
    <false/>

    <key>BBLMCanSpellCheckCodeRuns</key>
    <true/>

    <key>BBLMCommentLineDefault</key>
    <string># </string>

    <!-- Keywords: TODO states and priorities -->
    <key>BBLMKeywordList</key>
    <array>
        <string>TODO</string>
        <string>DONE</string>
        <string>WAITING</string>
        <string>CANCELLED</string>
        <string>CANCELED</string>
        <string>NEXT</string>
        <string>HOLD</string>
        <string>SOMEDAY</string>
        <string>PROJECT</string>
        <string>SCHEDULED</string>
        <string>DEADLINE</string>
        <string>CLOSED</string>
        <string>CLOCK</string>
        <string>PROPERTIES</string>
        <string>END</string>
        <string>LOGBOOK</string>
        <string>[#A]</string>
        <string>[#B]</string>
        <string>[#C]</string>
    </array>

    <!-- Predefined names: file keywords and block delimiters -->
    <key>BBLMPredefinedNameList</key>
    <array>
        <string>#+TITLE:</string>
        <string>#+AUTHOR:</string>
        <string>#+DATE:</string>
        <string>#+EMAIL:</string>
        <string>#+DESCRIPTION:</string>
        <string>#+KEYWORDS:</string>
        <string>#+LANGUAGE:</string>
        <string>#+OPTIONS:</string>
        <string>#+PROPERTY:</string>
        <string>#+STARTUP:</string>
        <string>#+FILETAGS:</string>
        <string>#+CATEGORY:</string>
        <string>#+SETUPFILE:</string>
        <string>#+INCLUDE:</string>
        <string>#+BIND:</string>
        <string>#+MACRO:</string>
        <string>#+LINK:</string>
        <string>#+TODO:</string>
        <string>#+SEQ_TODO:</string>
        <string>#+TYP_TODO:</string>
        <string>#+PRIORITIES:</string>
        <string>#+TAGS:</string>
        <string>#+ARCHIVE:</string>
        <string>#+COLUMNS:</string>
        <string>#+NAME:</string>
        <string>#+RESULTS:</string>
        <string>#+CAPTION:</string>
        <string>#+ATTR_HTML:</string>
        <string>#+ATTR_LATEX:</string>
        <string>#+ATTR_ORG:</string>
        <string>#+HEADER:</string>
        <string>#+HEADERS:</string>
        <string>#+LATEX_CLASS:</string>
        <string>#+LATEX_CLASS_OPTIONS:</string>
        <string>#+LATEX_HEADER:</string>
        <string>#+HTML_HEAD:</string>
        <string>#+HTML_HEAD_EXTRA:</string>
        <string>#+BEGIN_SRC</string>
        <string>#+END_SRC</string>
        <string>#+BEGIN_EXAMPLE</string>
        <string>#+END_EXAMPLE</string>
        <string>#+BEGIN_QUOTE</string>
        <string>#+END_QUOTE</string>
        <string>#+BEGIN_VERSE</string>
        <string>#+END_VERSE</string>
        <string>#+BEGIN_CENTER</string>
        <string>#+END_CENTER</string>
        <string>#+BEGIN_COMMENT</string>
        <string>#+END_COMMENT</string>
        <string>#+BEGIN_EXPORT</string>
        <string>#+END_EXPORT</string>
        <string>#+BEGIN_NOTES</string>
        <string>#+END_NOTES</string>
        <string>#+CALL:</string>
        <string>#+TBLFM:</string>
    </array>

    <key>Language Features</key>
    <dict>
        <key>Identifier and Keyword Character Class</key>
        <string>A-Za-z0-9_#:+\-\[\]@</string>

        <!-- String patterns for syntax coloring -->
        <key>String Pattern</key>
        <string><![CDATA[
(?x:
    (^\*+\s+.+$)                               |  (?# Headings)
    (\[\[[^\]]+\]\])                           |  (?# Links [[...]])
    (\<[0-9]{4}-[0-9]{2}-[0-9]{2}[^\>]*\>)     |  (?# Active timestamps)
    (\[[0-9]{4}-[0-9]{2}-[0-9]{2}[^\]]*\])     |  (?# Inactive timestamps)
    ((?<=\s|^)=[^\s=][^=]*=(?=\s|$|[.,;:!?]))  |  (?# Verbatim =text=)
    ((?<=\s|^)~[^\s~][^~]*~(?=\s|$|[.,;:!?]))     (?# Code ~text~)
)
]]></string>

        <!-- Comment patterns -->
        <key>Comment Pattern</key>
        <string><![CDATA[
(?x:
    (^\#\s.*$)                                       |  (?# Line comments: # ...)
    (^\#\+BEGIN_COMMENT\b[\s\S]*?^\#\+END_COMMENT)   |  (?# Block comments)
    (:PROPERTIES:[\s\S]*?:END:)                         (?# Property drawers)
)
]]></string>

        <!-- Function pattern for heading navigation -->
        <key>Function Pattern</key>
        <string><![CDATA[
(?x:
    (?P<function>
        ^(?P<function_name>\*+\s+.+)$
    )
)
]]></string>

        <key>Skip Pattern</key>
        <string><![CDATA[
(?x:
    (?P>comment)  |
    (?P>string)
)
]]></string>
    </dict>
</dict>
</plist>
